body {
  font: 'Open Sans', sans-serif;
}

body.ruby .sh_python, body.python .sh_ruby{
  display: none;
}

.python-button {
  color: green;
}

.ruby-button {
  color: red;
}

.highlight{
  background-color: yellow;
}

/* --------------------------
   Code buttons
   -------------------------- */
.code pre {
  padding-top: 70px;
}

.buttons {
  text-align: right;
  height: 0px;
}

.buttons button {
  width: 10%;
  height: 50px;
  margin: 5px;
  border: none
}
/* --------------------------
   Specific things
   -------------------------- */
#html-table-example img {
  float: right;
  width: 50%;
}
