<table>
<tr>
<td>
<span>Lobbyist
            Principal&#160;</span><br>
</td>
          <td>
<span>Lobbyist
            Address&#160;</span><br>
</td>
          <td>
<span>Lobbyist
            Officer&#160;</span><br>
</td>
          <td>
<span>Client
            Name&#160;&amp;&#160;Address&#160;</span><br>
</td>
          <td>
<span>Additional 
            Lobbyists&#160;</span><br>
</td>
          <td>
<span>Begin
            Date&#160;</span><br>
</td>
          <td>
<span>End
            Date&#160;</span><br>
</td>
          </tr>
<tr>
<td>
            After School Corporation (The) (04)<br><br>
</td>
          <td>
            925 Ninth Avenue<br>
            New York, United States of America 10019<br><br><br><br>
</td>
          <td><br></td>
          <td>
<a>After School Corporation (The)</a><br><span>925 Ninth Avenue<br>
            New York, United States of America 10019<br><br>
            (212) 547-6950</span><br>
</td>
          <td>
            
	        <span>Contact City Clerk for additional names.</span>
          </td>
          <td>01/01/2004<br>
</td>
          <td>12/31/2004<br>
</td>
          </tr>
<tr>
<td>
            WCAS Management Corporation<br><br>
</td>
          <td>
            320 Park Ave, Suite 2500<br>
            New York, NY 10022<br>
            United States of America<br><br><br>
</td>
          <td>James Gaven<br>
</td>
          <td>
<a>WCAS Management Corporation</a><br><span>320 Park Ave, Suite 2500<br>
            New York, NY 10022<br>
            United States of America<br>
            (212) 893-9500</span><br>
</td>
          <td>
            
            <a>Frances Higgins</a><br><a>Anthony deNicola</a><br><a>Jonathan Rather</a><br><a>Paul Queally</a><br><span></span>
          </td>
          <td>10/06/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            JetBlue Airways Corporation<br><br>
</td>
          <td>
            118-29 Queens Blvd<br>
            Forest Hills, NY 11375<br>
            United States of America<br><br><br>
</td>
          <td>Jeffrey Goodell<br>
</td>
          <td>
<a>JetBlue Airways Corporation</a><br><span>118-29 Queens Blvd<br>
            Forest Hills, NY 11375<br>
            United States of America<br>
            (646) 734-6342</span><br>
</td>
          <td>
            
            <a>Jeffrey Goodell</a><br><span></span>
          </td>
          <td>09/21/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            Elliott Management Corporation<br><br>
</td>
          <td>
            712 Fifth Avenue<br>
            New York, NY 10019<br>
            United States of America<br><br><br>
</td>
          <td>Josh Nadell<br>
</td>
          <td>
<a>Elliott Management Corporation</a><br><span>712 Fifth Avenue<br>
            New York, NY 10019<br>
            United States of America<br>
            (212) 974-6000</span><br>
</td>
          <td>
            
            <a>Jessica Segal</a><br><a>Jamshid Hobbeheydar</a><br><span></span>
          </td>
          <td>06/24/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            NYC CENTER FOR CHARTER SCHOOL EXCELLENCE<br><br>
</td>
          <td>
            111 BROADWAY, STE 604<br>
            NEW YORK, NY 10006<br>
            United States of America<br><br><br>
</td>
          <td>David Golovner<br>
</td>
          <td>
<a>NYC CENTER FOR CHARTER SCHOOL EXCELLENCE</a><br><span>111 BROADWAY, STE 604<br>
            NEW YORK, NY 10006<br>
            United States of America<br>
            (212) 437-8305</span><br>
</td>
          <td>
            
            <a>David Golovner</a><br><a>Valerie Babb</a><br><span></span>
          </td>
          <td>04/25/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            409 Edgecombe Avenue Housing Development Fund Corporation<br><br>
</td>
          <td>
            409 Edgecombe Avenue<br>
            New York, NY 10032<br>
            United States of America<br><br><br>
</td>
          <td>Marc Landis<br>
</td>
          <td>
<a>409 Edgecombe Avenue Housing Development Fund Corporation</a><br><span>409 Edgecombe Avenue<br>
            New York, NY 10032<br>
            United States of America<br>
            (917) 297-2418</span><br>
</td>
          <td>
            
            <a>Marc Landis</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            BROOKLYN NAVY YARD DEVELOPMENT CORPORATION<br><br>
</td>
          <td>
            63 FLUSHING AVENUE, UNIT 300, BUILDING 292<br>
            BROOKLYN, NY 11205<br>
            United States of America<br><br><br>
</td>
          <td>RICHARD DRUCKER<br>
</td>
          <td>
<a>BROOKLYN NAVY YARD DEVELOPMENT CORPORATION</a><br><span>63 FLUSHING AVENUE, UNIT 300, BUILDING 292<br>
            BROOKLYN, NY 11205<br>
            United States of America<br>
            (718) 907-5936</span><br>
</td>
          <td>
            
            <a>Aisha Glover</a><br><a>Richard H Drucker</a><br><a>Shani Leibowitz</a><br><a>Andrew H Kimball</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            Community Preservation Corporation<br><br>
</td>
          <td>
            28 East 28th Street, 9th Floor<br>
            New York, NY 10016<br>
            United States of America<br><br><br>
</td>
          <td>BARBARA BAER<br>
</td>
          <td>
<a>Community Preservation Corporation</a><br><span>28 East 28th Street, 9th Floor<br>
            New York, NY 10016<br>
            United States of America<br>
            (212) 869-5300</span><br>
</td>
          <td>
            
            <a>Kathleen Dunn</a><br><a>Theresa Crotty</a><br><a>Barbara Baer</a><br><a>Sadie McKeown</a><br><a>Thomas McGrath</a><br><a>John McCarthy</a><br><a>Brenda Ratliff</a><br><a>Michael Lappin</a><br><a>Andrew Padian</a><br><a>Richard Kumro</a><br><a>John Greene</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            Covanta Energy Corporation<br><br>
</td>
          <td>
            445 South Street<br>
            Morristown, NJ 07960<br>
            United States of America<br><br><br>
</td>
          <td>Daniel Dorlon<br>
</td>
          <td>
<a>Covanta Energy Corporation</a><br><span>40 Lane Road<br>
            Fairfield, NJ 07004<br>
            United States of America<br>
            (973) 882-7081</span><br>
</td>
          <td>
            
            <a>Jennifer Maldonado</a><br><a>Daniel Dorlon</a><br><a>Scott Henderson</a><br><a>Paula Soos-Kobylski</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            Covanta Energy Corporation<br><br>
</td>
          <td>
            445 South Street<br>
            Morristown, NJ 07960<br>
            United States of America<br><br><br>
</td>
          <td>Paula Soos-Kobylski<br>
</td>
          <td>
<a>Covanta Energy Corporation</a><br><span>445 South Street<br>
            Morristown, NJ 07960<br>
            United States of America<br>
            (862) 345-5246</span><br>
</td>
          <td>
            
            <a>Scott Henderson</a><br><a>Daniel Dorlon</a><br><a>Paula Soos-Kobylski</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            Exxon Mobil Corporation<br><br>
</td>
          <td>
            c/o Nielsen Merksamer, et al., 2350 Kerner Blvd., Ste. 250<br>
            San Rafael, CA 94901<br>
            United States of America<br><br><br>
</td>
          <td>Donald Clarke<br>
</td>
          <td>
<a>Exxon Mobil Corporation</a><br><span>c/o Nielsen Merksamer, et al., 2350 Kerner Blvd., Ste. 250<br>
            San Rafael, CA 94901<br>
            United States of America<br>
            (415) 389-6800</span><br>
</td>
          <td>
            
            <a>Donald L. Clarke</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            Internationals Network for Public Schools<br><br>
</td>
          <td>
            50 Broadway, Suite 2200<br>
            New York, NY 10004<br>
            United States of America<br><br><br>
</td>
          <td>Claire Sylvan<br>
</td>
          <td>
<a>Internationals Network for Public Schools</a><br><span>50 Broadway, Suite 2200<br>
            New York, NY 10004<br>
            United States of America<br>
            (212) 868-5180</span><br>
</td>
          <td>
            
            <a>Claire Sylvan</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            National Railroad Passenger Corporation (Amtrak)<br><br>
</td>
          <td>
            60 Massachusetts Ave., N.E.<br>
            Washington, DC 20002<br>
            United States of America<br><br><br>
</td>
          <td>Drew Galloway<br>
</td>
          <td>
<a>National Railroad Passenger Corporation (Amtrak)</a><br><span>60 Massachusetts Ave., N.E.<br>
            Washington, DC 20002<br>
            United States of America<br>
            (202) 906-3000</span><br>
</td>
          <td>
            
            <a>Joseph Boardman</a><br><a>Eleanor Acheson</a><br><a>Kenneth W. Hanson, Sr.</a><br><a>Marilyn Jamison</a><br><a>Diane Herndon</a><br><a>Stephen Gardner</a><br><a>Andrew Galloway</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            New Visions for Public Schools, Inc.<br><br>
</td>
          <td>
            320 West 13th Street, 6th Floor<br>
            New York, NY 10014<br>
            United States of America<br><br><br>
</td>
          <td>Stacy Martin<br>
</td>
          <td>
<a>New Visions for Public Schools, Inc.</a><br><span>320 West 13th Street, 6th Floor<br>
            New York, NY 10014<br>
            United States of America<br>
            (212) 645-5110</span><br>
</td>
          <td>
            
            <a>Leonard Greher</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
<tr>
<td>
            New York State Technology Enterprise Corporation<br><br>
</td>
          <td>
            500 Avery Lane, Suite A<br>
            Rome, NY 13441<br>
            United States of America<br><br><br>
</td>
          <td>Jana Behe<br>
</td>
          <td>
<a>New York State Technology Enterprise Corporation</a><br><span>500 Avery Lane, Suite A<br>
            Rome, NY 13441<br>
            United States of America<br>
            (315) 338-5818</span><br>
</td>
          <td>
            
            <a>Jana Behe</a><br><a>Nicholas Alger</a><br><a>Thomas Gdula</a><br><a>Michael Walsh</a><br><a>Peter Poleto</a><br><a>F. Michael Donovan</a><br><span></span>
          </td>
          <td>01/01/2011<br>
</td>
          <td>12/31/2011<br>
</td>
          </tr>
</table>
