<style>
.head {
  color: #FFF;
  background-color: #333;
}
.odd { background-color: #BBB; }
.even { background-color: #FFF; }
</style>
<TABLE CELLPADDING=2 CELLSPACING=2>
  <COL WIDTH=176>
  <COL WIDTH=158>
  <COL WIDTH=77>
  <COL WIDTH=62>
  <COL WIDTH=57>
  <COL WIDTH=64>
<thead>
  <TR class="head">
    <th>
      <P>
      contestants</P>
    </th>
    <th>
      <P>
      car_name</P>
    </th>
    <th>
      <P>
      car_num</P>
    </th>
    <th>
      <P>
      1st</P>
    </th>
    <th>
      <P>
      2nd</P>
    </th>
    <th>
      <P>
      3rd</P>
    </th>
  </TR>
</thead>
<tbody>
  <TR class="even">
    <TD >
      <P>
      The
      Slag Brothers</P>
    </TD>
    <TD >
      <P>
      The
      Boulder Mobile</P>
    </TD>
    <TD >
      <P>
      1</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      8</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
  </TR>
  <TR class="odd">
    <TD >
      <P>
      Rufus
      Ruffcut and Sawtooth</P>
    </TD>
    <TD >
      <P>
      The
      Buzzwagon</P>
    </TD>
    <TD >
      <P>
      10</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      6</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
  </TR>
  <TR class="even">
    <TD >
      <P>
      The
      Ant Hill Mob</P>
    </TD>
    <TD >
      <P>
      The
      Bulletproof Bomb</P>
    </TD>
    <TD >
      <P>
      7</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
    <TD >
      <P>
      5</P>
    </TD>
    <TD >
      <P>
      2</P>
    </TD>
  </TR>
  <TR class="odd">
    <TD >
      <P>
      The
      Gruesome Twosome</P>
    </TD>
    <TD >
      <P>
      The
      Creepy Coupe</P>
    </TD>
    <TD >
      <P>
      2</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      6</P>
    </TD>
  </TR>
  <TR class="even">
    <TD >
      <P>
      Penelope
      Pitstop</P>
    </TD>
    <TD >
      <P>
      The
      Compact Pussycat</P>
    </TD>
    <TD >
      <P>
      5</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
    <TD >
      <P>
      2</P>
    </TD>
    <TD >
      <P>
      5</P>
    </TD>
  </TR>
  <TR class="odd">
    <TD >
      <P>
      The
      Red Max</P>
    </TD>
    <TD >
      <P>
      The
      Crimson Haybailer</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
  </TR>
  <TR class="even">
    <TD >
      <P>
      Professor
      Pat Pending</P>
    </TD>
    <TD >
      <P>
      The
      Convert-A-Car</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      2</P>
    </TD>
    <TD >
      <P>
      5</P>
    </TD>
  </TR>
  <TR class="odd">
    <TD >
      <P>
      Luke
      and Blubber Bear</P>
    </TD>
    <TD >
      <P>
      The
      Arkansas Chugabug</P>
    </TD>
    <TD >
      <P>
      8</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
    <TD >
      <P>
      1</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
  </TR>
  <TR class="even">
    <TD >
      <P>
      Peter
      Perfect</P>
    </TD>
    <TD >
      <P>
      The
      Turbo Terrific</P>
    </TD>
    <TD >
      <P>
      9</P>
    </TD>
    <TD >
      <P>
      4</P>
    </TD>
    <TD >
      <P>
      2</P>
    </TD>
    <TD >
      <P>
      2</P>
    </TD>
  </TR>
  <TR class="odd">
    <TD >
      <P>
      Sergeant
      Blast and Private Meekley</P>
    </TD>
    <TD >
      <P>
      The
      Army Surplus Special</P>
    </TD>
    <TD >
      <P>
      6</P>
    </TD>
    <TD >
      <P>
      3</P>
    </TD>
    <TD >
      <P>
      1</P>
    </TD>
    <TD >
      <P>
      0</P>
    </TD>
  </TR>
  <TR class="even">
    <TD >
      <P>
      Dick
      Dastardly and Muttley</P>
    </TD>
    <TD >
      <P>
      The
      Mean Machine</P>
    </TD>
    <TD >
      <P>
      00</P>
    </TD>
    <TD >
      <P>
      0</P>
    </TD>
    <TD >
      <P>
      0</P>
    </TD>
    <TD >
      <P>
      0</P>
    </TD>
  </TR>
</tbody>
</TABLE>
<p><strong>Source</strong>: <a href="http://en.wikipedia.org/wiki/Wacky_Races">http://en.wikipedia.org/wiki/Wacky_Races</a></p>
