<style>
.python-color, .python { color: green; }
.ruby-color, .ruby {color: red; }

/* Hide the inappropriate blocks. */
body.ruby-version .python { display: none; }
body.python-version .ruby { display: none; }

body.ruby-version .both { color: red; }
body.python-version .both { color: green; }
</style>

<!-- <body class="both"> -->
<body class="python-version">
  <h1>Stream C: Learn to Scrape</h1>
  <p>Choose language</p>
  <button class="python-color" onclick="document.body.setAttribute('class','python-version')">Python</button>
  <button class="ruby-color" onclick="document.body.setAttribute('class','ruby-version')">Ruby</button>
  <button onclick="document.body.setAttribute('class','both')">Both</button>

  <h2>Cheat sheet</h2>
  <pre class="python">
from urllib2 import urlopen
from lxml.html import fromstring
from scraperwiki.sqlite import save

# Load
html = urlopen('http://example.com').read()
x = fromstring(html)

# Select a table
table = x.cssselect('table')[2]
tr = table.cssselect('tr')[7]

# Select links
links = x.cssselect('a')
print [a.attrib['href'] for a in links]

# Combine into a dictionary
header = ['foo', 'bar', 'baz']
cell_content = [td.text_content() for td in tr.cssselect('td')]
data = dict(zip(header, cell_content)

# Save to ScraperWiki's datastore
save([], data)
  </pre>
  <pre class="ruby">
require 'open-uri'
require 'nokogiri'
require 'scraperwiki'

# Load
html = open('http://example.com').read
x = Nokogiri::HTML(html)

# Select a table
table = x.search('table')[2]
tr = table.search('tr')[7]

# Select links
links = x.search('a')
puts links.map{|a| a.attributes['href']}

# Save data
header = ['foo', 'bar', 'baz']
cell_content = tr.search('td').map {|td| td.text}
data = Hash[header.zip(cell_content)]

# Save to ScraperWiki's datastore
ScraperWiki.save([], data)
  </pre>

  <h2>Introductions</h2>
  <ul>
    <li time="1">Tom</li>
    <li time="1">Notes on the course</li>
    <ul>
      <li>outline (this page)</li>
      <li><a href="slides">slides</a></li>
      <li class="python"><a class="python" href="https://scraperwiki.com/scrapers/nicar_stream_c_python/edit/">Python scraper page</a></li>
      <li class="ruby"><a class="ruby" href="https://scraperwiki.com/scrapers/nicar_stream_c_ruby/edit/">Ruby scraper page</a></li>
<!--      <li><a href="https://bitbucket.org/tlevine/learn-to-scrape">code</a></li> -->
    </ul>
    <li time="1">Agenda for the course</li>
  </ul>

  <h2 time="5">Targets for Scraping</h2>
  <p>Julian</p>


<!--
  <h2>Get into groups</h2>
  <ol>
    <li time="1">Tom will put you into groups of two.</li>
    <li time="2">Introduce yourself to your partner. Brag about something you did last week.</li>
  </ol>
-->

  <h2>Using ScraperWiki</h2>
  <ol>
    <li time="5">Make an account.</li>
    <li time="1">Make a scraper.</li>
  </ol>
  <h3>
  <p>Follow along <a class="python" href="https://scraperwiki.com/scrapers/jdnyc_stream_c_python/edit/">here</a><a class="ruby" href="https://scraperwiki.com/scrapers/jdnyc_stream_c_python/edit/">here</a>.</p>

  <h3 time="4">Hello World</h3>
  <pre class="ruby">
  puts "Hello World"
  </pre> 
  <pre class="python">
  print("Hello World")
  </pre> 
  <p>Change it to print something else</p>

  <h3 time="4">Copying a scraper</h3>
  <p>
    You're watching me write a scraper.
    Clicking the copy button copies my code to a new scraper saved to your account.
  </p>

  <h3 time="4">Download</h3>
  <pre class="ruby">
  download=open("<a href="http://www.journalism.columbia.edu/">http://www.journalism.columbia.edu/</a>")
  puts download
  puts download.read #This method is annoying.
  puts download.read
  </pre>
  <pre class="python">
  download=urlopen("<a href="http://www.journalism.columbia.edu/">http://www.journalism.columbia.edu/</a>")
  print(download.read())
  </pre>
  <p>Try downloading a different website</p>

  <h3 time="4">Save</h3>
  <pre class="ruby">
  data={
    "firstname"=&gt;"Joseph",
    "lastname"=&gt;"Pulitzer",
    "birthday"=&gt;"1847-04-10"
  }
  ScraperWiki.save([],data)
  </pre>
  <pre class="python">
  data={
    "firstname":"Joseph",
    "lastname":"Pulitzer",
    "birthday":"1847-04-10"
  }
  save([],data)
  </pre>
  <p>Try saving something else.</p>

  <h2>Scraping project for the course</h2>
  <ol>
    <li time="4">What is the Department of Labor <a href="http://www.dol.gov/olms/regs/compliance/rrlo/lmrda.htm">collective bargaining agreement filings website</a>?</li>
    <li time="1">Print the main page: <a href="http://www.dol.gov/olms/regs/compliance/rrlo/lmrda.htm">http://www.dol.gov/olms/regs/compliance/rrlo/lmrda.htm</a></li>
  </ol>

  <h3>Scraping a list of filings</h3>
  <ol>
    <li time="1">Print this one: <a href="http://www.dol.gov/olms/regs/compliance/cba/Cba_CaCn.htm">http://www.dol.gov/olms/regs/compliance/cba/Cba_CaCn.htm"</a></li>
    <li time="2">Load the html with
      <span class="python">fromstring</span><span class="ruby">Nokogiri::HTML</span>.
      This gives us more power, as you'll see later.
    </li>
    <li time="5">HTML tables (See slides.)</li>
  </ol>
  <h3 time="3">Outline of the scraper</h3>
  <ol>
    <li>Select the table</li>
    <li>Select the table rows from the table</li>
    <li>Select the table cells from the table row</li>
    <li>Print the table cells</li>
  </ol>
  <h3>Selecting the table:</h3>
  <ol>
    <li time="2">Look for the table in the html by searching for the first row.</li>
    <li time="2">How can we use CSS to get the table?</li>
    <li time="2">Select tables with lxml, and print it with tostring</li>
    <li time="2">Select the table of interest with the list index.</li>
  </ol>
  <h3>Deeper selections</h3>
  <ol>
    <li time="2">Select a table row from the table, and print it.</li>
    <li time="2">Select a table cell from the table row, and print it.</li>
    <li time="2">Get the text out of a table cell with .text_content()</li>
  </ol>
  <h3>Iteration!</h3>
  <ol>
    <li time="2">For each cell in a row, print the cell.</li>
    <li time="2">For each cell in a row, print the plain text content of the cell.</li>
    <li time="2">For each row in the table, for each cell in a row, print the text content.</li>
  </ol>


<!--
  <h3>Break</h3>
  <p>(stop iterating)</p>
-->

  <h3>Saving</h3>
  <p time="4">The save function wants a dictionary.</p>
  <pre class="both">
  #List of column names
  [
      'employer','download','location','union',
      'local', 'naics', 'num_workers', 'expiration_date'
  ]

  #List of row values
  [
      'California  Processors Inc.\r\n    ', 'Not Available', 'CA', 'IBT',
      '748,857,601', '311421', '11000', '6-30-06', '123', '422'
  ]
  </pre>
  <p>We want it to look more like this.</p>
  <pre class="ruby">
  {
      'download'=&gt; 'Not Available', 'employer'=&gt; 'California  Processors Inc.\r\n    ',
      'expiration_date'=&gt; '6-30-06', 'local'=&gt; '748,857,601',
      'location'=&gt; 'CA', 'naics'=&gt; '311421',
      'num_workers'=&gt; '11000', 'union'=&gt; 'IBT'
  }
  </pre>
  <pre class="python">
  {
      'download': 'Not Available', 'employer': 'California  Processors Inc.\r\n    ',
      'expiration_date': '6-30-06', 'local': '748,857,601',
      'location': 'CA', 'naics': '311421',
      'num_workers': '11000', 'union': 'IBT'
  }
  </pre>
  <p>Combine the header with the data row.</p>
  <p time="4">Once we've combined them, we have a working scraper; look at the scraper overview page.</p>

  <h3>Removing the header row</h3>
  <ol>
    <li time="1">We saved the header row to the datastore; we don't want that.</li>
    <li time="3">The <span class="ruby">.shift</span><span class="python">.pop</span> method</li>
    <li time="3">Try removing the header row</li>
  </ol>

  <h3>Cleaning the data</h3>
  <p time="2">A few messy columns</p>
  <ol>
    <li>State</li>
    <li>Number of workers</li>
    <li>Date</li>
    <li>Local</li>
    <li>PDF links</li>
  </ol>
  <p>List of state codes</p>
  <pre class="both">
  [
      'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
      'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
      'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ',
      'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
      'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
  ]
  </pre>

  <h4>Columns with counts</h4>
  <ol>
    <li time="2">Try adding</li>
    <li time="2">Remove commas</li>
    <li time="2">Convert to int</li>
    <li time="2">Try adding</li>
    <li time="2">Try adding it to the dictionary</li>
    <li time="2">Try saving it. Clear the datastore, and look.</li>
  </ol>

  <h4>Date</h4>
  <ol>
    <li time="2">We want to change to ISO format (YYYY-MM-DD)</li>
    <li time="2">Hint: .split('-')</li>
    <li time="3">Try converting.</li>
    <li time="2">Try adding it to the dictionary</li>
    <li time="2">Try saving it. Clear the datastore, and look.</li>
  </ol>

  <h4>State</h4>
  <ol>
    <li time="1">We want to get the two-letter code out of the location column.</li>
    <li time="2">Regular expressions</li>
    <li time="2">Try adding it to the dictionary</li>
    <li time="2">Try saving it. Clear the datastore, and look.</li>
  </ol>

  <h4>PDF links</h4>
  <ol>
    <li time="3">How do we select a tags?</li>
    <li time="3">Get the href attributes with .attrib</li>
    <li time="3">Try adding to the dictionary</li>
    <li time="2">Demonstrate adding to the dictionary.</li>
  </ol>

  <h3>Scrape multiple pages</h3>
  <ol>
    <li time="4">Here is a list of urls. Try running the scraper for each url in the list.</li>
<pre>
[ "http://www.dol.gov/olms/regs/compliance/cba/Cba_CaCn.htm",
  "http://www.dol.gov/olms/regs/compliance/cba/Cbau_mamh.htm",
  "http://www.dol.gov/olms/regs/compliance/cba/Cba_NfOz.htm" ]
</pre>
    <li time="4">Where did that list come from?</li>
    <li>Scraping the main page</li>
    <ol>
      <li time="1">Downloading the page</li>
      <li time="1">Load into lxml</li>
      <li time="1">Select the links (a tags)</li>
      <li time="3">Sort the links by public/private</li>
      <li time="1">Save public/private to the datastore</li>
    </ol>
    <li time="3">Loop over this list.</li>
  </ol>

  <p>The final scraper is <a class="python" href="https://scraperwiki.com/scrapers/unionreportspy/">here</a><a class="ruby" href="https://scraperwiki.com/scrapers/unionreports/">here</a>.</p>

  <h2>Analysis</h2>
  <ol>
    <li time="2">We have worker counts, but that isn't that meaningful without populations</li>
    <li>Scrape these tables from the census, converting population and removing non-states</li>
    <ul>
      <li time="3">http://www.census.gov/compendia/statab/2012/ranks/rank01.html</li>
      <li time="3">http://www.census.gov/compendia/statab/2012/ranks/rank03.html</li>
      <li time="3">http://www.census.gov/compendia/statab/2012/ranks/rank04.html</li>
    </ul>
    <li time="2">Save to separate tables</li>
    <li time="10">Julian</li>
  </ol>
</body>
